
div{
    border: 2px solid rgba(31, 31, 185, 0.8);
    margin: 10px 25px;
    padding: 15px;
    background-color: rgba(25, 59, 172, 0.2);
    border-radius: 15px;
    box-shadow: 6px 6px pink;
}
img{
    border-radius: 50%;
}
.cvprincipal{
    text-align: center;
    font-family: "Sedan SC", serif;
    background:linear-gradient(to right,green,yellow);
}
h1{
    text-shadow:2px 2px pink;
}

